<div class="sticky_box">
    <div class="container">
        <ul class="navbar__menu">
            <li><a href="/">Home</a></li>
            <li><a href="/detail">Detail</a></li>
            <li><a href="/howtouse">How to Use</a></li>
            <li><a href="/aboutus">About Us</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</div>

<!-- Header -->
<section id="header">
    <header class="major">
        <h1>폰트로이드</h1>
        <p> 자신이나 소중한 사람의 폰트를 간직하세요.</p>
    </header>
    <!-- <div class="container"> -->
        <!-- <ul class="actions special"> -->
            <!-- <li><a href="#one" class="button primary scrolly">소개</a></li> -->
        <!-- </ul> -->
    <!-- </div> -->
</section>